body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1db8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* space between heading and inputs */

}

.inputs input {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
}
:hover.inputs input {
  border-color: #1db8ff;
  box-shadow: 0 0 5px rgba(29, 184, 255, 0.5);
}
