body{
    background-color: #116aa6;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 50px;
    
}